.task {
	display: flex;
	justify-content: flex-start;
	margin-bottom: @margin-half;

	form {
		display: inherit;
	}
}

.task--done input[type=checkbox]~label:before {
	visibility: hidden;
}

.task__substuff {
	font-size: 12/16em;
	display: block;
	color: @grey;
	text-transform: capitalize;

	span + span:before {
		content: "";
		margin-right: @margin-default;
	}

	svg {
		display: inline;
		vertical-align: -0.3125em;
		zoom: 0.9;
	}

	.svg-fill {
		fill: @grey;
	}

}

.task__pill--date {
	svg {
		zoom: 0.75;
		vertical-align: -0.25em;

	}
}

.task__pill--today {
	background: @yellow-bright;
	color: @black;
	padding: 0 @margin-half;
	border-radius: @border-radius;

	.svg-fill {
		fill: @black;
	}
}

.task--done .task__title {
	font-size: 14/16em;
}

.task--done .task__title {
	color: @grey;
	text-decoration: line-through;
}

.task input:checked ~ label .task__title {
	background: @yellow-bright;
}

.task__label {
	word-break: break-word;
	flex-grow: 1;
	padding-right: @margin-half;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	&::first-letter {
		text-transform: uppercase;
	}
}

.task__link {
	display: flex;
	padding: 0 0.25em;
	background: @white-almost;
	color: @black;
	font-weight: bold;
	text-decoration: none;
	border-radius: @border-radius;
	align-items: center;
	margin-right: -@margin-default / 3;

	@media @m {
		margin-right: 0;
	}
}

.task__content--done {
	text-decoration: line-through;
}

.task {

	input[type=checkbox]~label {
		cursor: pointer;
		margin-left: 1.25em;
	}

	input[type=checkbox]~label:before {
		display: block;
		content: "";
		width: 0.675em;
		height: 0.675em;
		position: absolute;
		margin-top: 0.25em;
		margin-left: -1.25em;
		border-radius: 0.125em;
		border: 0.0875em solid @black;
	}

	input[type=checkbox]:focus~label:before {
		box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.15);
	}

	input[type=checkbox]:checked~label:before {
		background-color: @black;
		box-shadow: inset 0 0 0 0.125em @white;
	}

	input[type=checkbox]:disabled~label:before {
		border-color: #999;
	}

	input[type=checkbox]:checked:disabled~label {
		background-color: transparent;
	}

	input[type=checkbox]:checked:disabled~label:before {
		background-color: #999;
	}

	input[type=checkbox]:disabled~label {
		color: #999;
	}

	@media @m {
		&:hover {
			background: @white-almost;
			outline: 0.25em solid @white-almost;
		}
	}

}

.subtask {
	border-bottom: 1px solid @grey-light;
	padding-bottom: 0.25em;
}

.subtask input:checked ~ label .task__title {
	background: transparent;
}

.subtask input[type=checkbox]~label:before {
	border-radius: 50%;
}

.subtask--done .task__title {
	font-size: 16/16em;
}

.subtask--done input[type=checkbox]~label:before {
	visibility: visible;
	border-color: @grey;
}

.subtask--done input[type=checkbox]:checked~label:before {
	background-color: @grey;
}

.task__checklist {
	font-size: 12/16em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: @font-weight-m;
	margin-top: @margin-default * 2;
}

.subtasks {
	font-size: 14/16em;
	margin-bottom: @margin-default;
}

#create-subtask {
	display: none;
}

[data-show-subtask-form] {
	float: right;
	padding: 0.25em 0.5em;
	margin-top: -0.1875em;
}

.subtask .task__label {
	white-space: normal;
}
