{% macro task(task, show_date = true) %}
<li class="task {% if task.is_done %} task--done{% endif %}">
	<input
		class="a11y-sr-only"
		type="checkbox"
		id="{{ task.id }}__task"
		name="{{ task.id }}__task">
	<label class="task__label" for="{{ task.id }}__task">
		<span class="task__title">
			{% if task.content %}{{ task.title | titleize | safe }}{% else %}(Untitled){% endif %}
		</span>
		<span class="task__substuff">
			{% if show_date and task.scheduled_date %}<span class="task__pill--date {% if task.is_today %}task__pill--today{% endif %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0V0z"/><path class="svg-fill" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm-.22-13h-.06c-.4 0-.72.32-.72.72v4.72c0 .35.18.68.49.86l4.15 2.49c.34.2.78.1.98-.24.21-.34.1-.79-.25-.99l-3.87-2.3V7.72c0-.4-.32-.72-.72-.72z"/></svg> {{ task.scheduled_hr }}</span>{% endif %}
			{% if task.subtasks.length %}<span class="task__pill"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path id="a" d="M0 0h24v24H0V0z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" class="svg-fill" d="M14 10H2v2h12v-2zm0-4H2v2h12V6zM2 16h8v-2H2v2zm19.5-4.5L23 13l-6.99 7-4.51-4.5L13 14l3.01 3 5.49-5.5z"/></svg> {{ task.num_subtasks_done }}/{{ task.subtasks.length }}</span>{% endif %}
			{% if not task.is_actionable %}<span>Not actionable</span>{% endif %}
		</span>
	</label>
	<a class="task__link" href="/tasks/{{ task.id }}">⋯</a>
</li>
{% endmacro %}
