.review-list {
	margin: -4rem 0 0;

	li {
		margin: 0;
	}
}

.review-list__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.review-list__body {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	font-weight: 400;
	margin: 0;
	word-break: break-word;
	font-size: 24/16em;
}

.review-list__action {
	flex: 0 1 auto;
	background: @white-almost;
	padding: @margin-default;
	margin: 0 0 @margin-default;

	li {
		margin-left: @margin-half;

		&:first-child {
			margin-left: 0;
		}
	}
}
