.button {
	background: @black;
	color: white;
	font-size: 1em;
	padding: @margin-half @margin-default;
	border: 2px solid @black;
	border-radius: 0.125em;
	-webkit-font-smoothing: antialiased;
	margin-right: 0.75rem;
	text-decoration: none;
	text-align: center;

	&:focus {
		border: 2px dotted @white;
		outline: none;
	}

	&:disabled {
		border-color: @grey;
		color: @grey;
	}

	@media @s-only {
		width: 100%;

		& + .button {
			margin-top: @margin-default;
		}
	}
}

.button--secondary {
	border-color: @grey-light;
	background: @grey-light;
	color: @black;

	&:focus {
		border: 2px dotted @black;
	}
}

.button--danger {
	background-color: @yellow-bright;
	border-color: @yellow-bright;
	color: @black;
}

.button--full {
	display: block;
	width: 100%;
}

.button--full + .button--full {
	margin-top: @margin-default / 2;
}
