.button {
	display: inline-block;
	border: 2px solid @blue;
	border-radius: 0.25em;
	padding: @margin-half @margin-default;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13/16em;
	font-weight: 500;
	background: transparent;
	color: @blue;

	& + .button {
		margin-left: @margin-half;
	}
}

.button--primary {
	background: @blue;
	color: @white;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
}

.button--secondary {
	border-color: @red;
	color: @red;
}
