{% macro newItemModal(itemType) %}
<section class="modal closed" data-modal hidden>
	<div class="modal__body">
		<form
			class="modal__form"
			action="/{{ itemType }}s"
			method="post"
			id="create-{{ itemType }}">
			<textarea
				class="textarea textarea--in-modal"
				name="content"
				placeholder="Type a thing."></textarea>
		</form>
		<div class="modal__actions">
			<button
				type="submit"
				class="button button--primary"
				form="create-{{ itemType }}">Create {{ itemType }}.</button>
			&nbsp;or
			<a
				class="ui-link"
				href="/{{ itemType }}s"
				data-close-modal>Cancel.</a>
		</div>
	</div>
</section>
{% endmacro %}
