.text-input {
	width: 100%;
	padding: @margin-half @margin-default;
	font-size: 1em;
	border: 2px solid @black-light;
	outline: none;
	border-radius: @border-radius;

	&:focus {
		box-shadow: 0 0 0 0.25em rgba(0, 0, 0, 0.25);
	}
}

.text-input--colorful {
	border: 1.5px solid @white-almost;
	background: transparent;
	color: @white;
	font-weight: @font-weight-m;
	-webkit-font-smoothing: antialiased;

	&::placeholder {
		color: @white;

		@media @m {
			color: @black;
		}
	}

	@media @m {
		border: 2px solid @black;
		-webkit-font-smoothing: subpixel-antialiased;
		font-weight: normal;
		color: @black;
	}
}

.text-input__label {
	position: absolute;
	margin-top: -@margin-default / 4;
	padding-right: @margin-default / 4;
	padding-bottom: 0.0625rem;
	font-size: 0.5625em;
	background: @white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	color: @black-light;
}
