main {
	width: 100%;
	padding: @header-height @margin-default 0; // compensate for fixed header
	transition: filter 100ms ease-out, transform 200ms ease-out;
	transform-origin: top center;

	&.blocked {
		user-select: none;
		filter: blur(5px);
		transform: translateY(1rem) scale(0.98);
	}

	&.main--is-review {
		padding-top: 0;
		transition: none;
		transform-origin: initial;
	}

	&.main--has-action-bar {
		padding-bottom: @margin-default * 5;
	}

	@media @l {
		max-width: 40rem;
	}
}

.flat-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.inline-list {
	display: flex;

	li {
		margin-left: @margin-default;

		&:first-child {
			margin-left: 0;
		}
	}
}

.pull-right {
	float: right;
}

.ui-link {
	color: @black;
}
