main {
	width: 100%;
	padding: @margin-default * 4 @margin-default @margin-default * 5; // compensate for header/footer fixed bars

	@media @l {
		max-width: 40rem;
	}
}

.flat-list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		padding: 0;
		margin-bottom: @margin-half;
	}
}

.inline-list {
	display: flex;

	li {
		margin-left: @margin-default;

		&:first-child {
			margin-left: 0;
		}
	}
}

.pull-right {
	float: right;
}
