.sections {
	padding: @margin-default * 2;
}

.sections__list {
	li {
		margin-bottom: @margin-half;
	}
}

.sections__link {
	text-decoration: none;
	color: @white;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}

.divider {
	height: @margin-default;
}
