{% macro sections() %}
<section class="sections">
	<ul class="flat-list sections__list">
		<li>
			<a class="sections__link" href="/today">Today</a>
		</li>
		{% if evening %}
		<li>
			<a class="sections__link" href="/tomorrow">Tomorrow</a>
		</li>
		{% endif %}
		<li>
			<a class="sections__link" href="/tasks">Tasks</a>
		</li>
		<li>
			<a class="sections__link" href="/pages">Pages</a>
		</li>
		<li>
			<a class="sections__link" href="/review">Review</a>
		</li>
		<li>
			<a class="sections__link" href="/action">Action</a>
		</li>
		<li class="divider"></li>
		<li>
			<form method="get" action="/tasks">
				<input
					class="text-input text-input--borderless"
					type="text"
					placeholder="Search…"
					name="q">
			</form>
		</li>
	</ul>
</section>
{% endmacro %}
