{% from "components/sections/sections.html" import sections -%}

<!doctype html>
<html>
	<head>
		<title>Todown</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">
		<link rel="apple-touch-startup-image" href="/assets/launch-640x1136.png">
		<link rel="icon" href="/assets/icons/icon-192x192.png">
		<link rel="apple-touch-icon" href="/assets/icons/icon-192x192.png">
		<link rel="stylesheet" href="/index.css">
		<link rel="manifest" href="/manifest.json">
		<script src="/index.js" defer></script>
	</head>
	<body>

		<div class="overlay closed" hidden data-overlay></div>

		{% block content %}{% endblock %}
		{% block modals %}{% endblock %}

		<nav class="sidemenu closed" data-sidemenu hidden>
			{{ sections() }}
		</nav>

		<script>
			window.addEventListener('load', () => {
				if ('serviceWorker' in navigator) {
					navigator.serviceWorker.register('/service-worker.js')
						.then(registration => navigator.serviceWorker.ready)
						.then(registration => {
							registration.update();
						}).catch(err => {
							console.log('Service worker wasn’t registered');
							console.error(err);
						});
				}
			});
		</script>
	</body>
</html>
