{% from "components/header/header.html" import header -%}
{% from "components/title/title.html" import title -%}
{% from "components/sections/sections.html" import sections -%}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Todown</title>
		<link rel="stylesheet" href="/index.css">
		<script src="/index.js" defer></script>
	</head>
	<body>

		<div class="overlay closed" hidden data-overlay></div>

		{% block content %}{% endblock %}
		{% block modals %}{% endblock %}

		<nav class="sidemenu closed" data-sidemenu hidden>
			{{ sections() }}
		</nav>

	</body>
</html>
