{% extends "views/_base.html" %}
{% from "components/header/header.html" import header %}
{% from "components/nav/nav.html" import nav %}

{% block content %}
<main role="main">
	{{ header() }}
	{% if quick %}
	{% set quick_words = [
		"Hey, what about this one:",
		"This one’s doable, right:",
		"Allright buddy, let’s go:",
		"I think you got this:"
	] %}
	<div class="quick">
		{{ quick_words | random }} <a class="quick__link" href="/tasks/{{ quick.id }}">{{ quick.title }} &rarr;</a>
	</div>
	{% endif %}
	{{ nav(pages) }}
	<section class="lists {% if quick %}lists--below-quick{% endif %}">
		<div>
			<form method="post" action="/tasks" id="tasks" data-task-form>
				<input type="hidden" name="_method" value="PATCH">
				<ul class="tasks flat-list">
				{% for task in tasks %}
				<li data-task="{{ task.id }}" class="task {% if not task.is_actionable %}task--is-incomplete {% endif %}{% if task.is_done %}task--is-done {% endif %}{% if task.is_starred %}task--is-starred {% endif %}">
					<input type="checkbox" id="{{ task.id }}__task" name="{{ task.id }}__task">
					<label for="{{ task.id }}__task"><span>{% if task.content %}{{ task.title | titleize | linkize | safe }}{% else %}(Untitled){% endif %}</span> <a class="task__detail-link" href="/tasks/{{ task.id }}">&rarr;</a></label>
				</li>
				{% endfor %}
				</ul>
			</form>
		</div>
	</div>

	<div class="add-item" hidden>
		<form method="post" action="/tasks" data-create-task><textarea name="content" class="flexi" placeholder="Type a thing."></textarea>
		<ul class="flat-list inline-list">
			<li>
				<button class="button" type="submit">Add it<span class="m-and-up"> to the list</span>!</button>
			</li>
			<li>
				<div>
					<input type="checkbox" id="new_task_is_actionable" name="is_actionable">
					<label for="new_task_is_actionable">Actionable<span class="m-and-up"> fo sho</span>.</label>
				</div>
				<div>
					<input type="checkbox" id="new_task_is_starred" name="is_starred">
					<label for="new_task_is_starred">Star<span class="m-and-up"> that shit</span>.</label>
				</div>
				<div>
					<input type="checkbox" id="new_task_is_quick" name="is_quick">
					<label for="new_task_is_quick">Quick<span class="m-and-up">ly done</span>!</label>
				</div>
			</li>
		</ul>
		</form>
	</div>
</main>
{% endblock %}
