{% extends "views/_base.html" %}
{% from "components/header/header.html" import header %}

{% block content %}
	{{ header() }}

	<ul class="tasks flat-list">
	{% for task in tasks %}
	<li data-task="{{ task.id }}" class="task {% if not task.is_actionable %}task--is-incomplete {% endif %}{% if task.is_done %}task--is-done {% endif %}{% if task.is_starred %}task--is-starred {% endif %}">
		<input type="checkbox" id="{{ task.id }}__task" name="{{ task.id }}__task">
		<label for="{{ task.id }}__task"><span>{% if task.content %}{{ task.title }}{% else %}(Untitled){% endif %}.</span> <a class="task__detail-link" href="/tasks/{{ task.id }}">&rarr;</a></label>
	</li>
	{% endfor %}
</ul>
{% endblock %}
