{% extends "views/_base.html" %}
{% from "components/header/header.html" import header %}
{% from "components/page/page.html" import page %}

{% block content %}
{{ header('All pages') }}
<main class="main--has-action-bar" role="main">
	<section>
		<ul class="pages flat-list">
		{% for pageItem in pages %}
			{{ page(pageItem) }}
		{% endfor %}
		</ul>
	</section>
</main>
<div class="action" data-action>
	<a href="/pages/create" class="button button--secondary">Create page</a>
</div>
{% endblock %}
