{% extends "views/_base.html" %}
{% from "components/header/header.html" import header %}

{% block content %}
<main class="main--has-action-bar" role="main">
	{{ header('New page') }}
	<form action="/pages" method="post" id="create-page">
		<textarea
			autofocus
			class="textarea"
			name="content"
			placeholder="Fresh page here."></textarea>
	</form>
</main>

<div class="action" data-action>
	<button type="submit" class="button" form="create-page">Create page</button>
	&nbsp;or <a href="/pages">Cancel</a>
</div>
{% endblock %}
