{% extends "views/_base.html" %}
{% from "components/header/header.html" import header %}

{% block content %}
<main class="main--has-action-bar" role="main">
	{{ header('Editing “' + page.title + '”') }}
	<form action="/pages/{{ page.id }}" method="post" id="edit-page">
		<input type="hidden" name="_method" value="PATCH">
		<textarea
			autofocus
			class="textarea"
			name="content">{{ page.content }}</textarea>
	</form>
</main>

<div
	class="action-bar" data-action>
	<button type="submit" class="button button--primary" form="edit-page">Save page.</button>
	&nbsp;or <a class="ui-link" href="/pages/{{ page.id }}">Cancel.</a>
</div>
{% endblock %}
