{% extends "views/_base.html" %}
{% from "components/header/header.html" import header %}
{% from "components/page-actions/page-actions.html" import pageActions %}
{% from "components/task-list/task-list.html" import taskList %}

{% block content %}
<main class="main--has-action-bar" role="main">
	{{ header(page.title, { url: '/pages', name: 'Pages' }) }}
	<section class="content page__content">
		{{ page.content | markdown | safe }}
	</section>
	{% if tasks.length %}
	<h2>Related tasks &darr;</h2>
	{{ taskList(tasks, '/pages/' + page.id) }}
	{% endif %}
</main>
{% if evening %}
	{{ pageActions(page, secondary = { value: 'tomorrow', label: 'Do tomorrow.' }) }}
{% else %}
	{{ pageActions(page) }}
{% endif %}
{% endblock %}

{% block modal %}
<section class="modal modal--tiny closed" data-modal hidden>
	<div class="modal__body">
		<form method="post" onchange="this.submit()" action="/pages/{{ page.id }}">
			<input type="hidden" name="_method" value="patch">
			<label
				class="text-input__label"
				for="tags">Tags</label>
			<input
				class="text-input text-input__"
				type="text"
				name="tags"
				id="tags"
				value="{{ page.tags }}"
				placeholder="Task tags go here.">
		</form>
		<form method="post" onchange="this.submit()" action="/pages/{{ page.id }}">
			<input type="hidden" name="_method" value="patch">
			<input type="hidden" name="_action" value="sticky">
			<input
				class="a11y-sr-only modal__control"
				type="checkbox"
				name="is_sticky"
				id="page:{{ page.id }}:sticky"
				{% if page.is_sticky %}checked{% endif %}>
			<label for="page:{{ page.id }}:sticky">Sticky page.</label>
		</form>
		<form
			method="post"
			onsubmit="return confirm('Serious.ly')"
			action="/pages/{{ page.id }}?redirect=/pages">
			<input type="hidden" name="_method" value="delete">
			<button class="button button--secondary pull-right">Delete?</button>
		</form>
	</div>
</section>
{% endblock %}
