{% extends "views/_base.html" %}
{% from "components/header/header.html" import header %}
{% from "components/page/page.html" import page %}
{% from "components/new-item-modal/new-item-modal.html" import newItemModal %}

{% block content %}
<main class="main--has-action-bar" role="main">
	{{ header('Pages') }}
	<section>
		<ul class="pages flat-list">
		{% for pageItem in pages %}
			{{ page(pageItem) }}
		{% endfor %}
		</ul>
	</section>
</main>
<div
	class="action-bar" data-action>
	<a class="button" data-trigger-modal href="/pages/create" >Create page.</a>
</div>
{% endblock %}

{% block modal %}
{{ newItemModal('page') }}
{% endblock %}
