{% extends "views/_base.html" %}
{% from "components/editor/editor.html" import editor %}
{% from "components/header/header.html" import header %}

{% block content %}
{{ header('Editing “' + page.title + '”') }}
<main class="main--has-action-bar" role="main">
	<form action="/pages/{{ page.id }}" method="post" id="edit-page">
		<input type="hidden" name="_method" value="PATCH">
		{{ editor(page.content) }}
	</form>
</main>

<div class="action" data-action>
	<button type="submit" class="button" form="edit-page">Save page</button>
	&nbsp;or <a href="/pages/{{ page.id }}">Cancel</a>
</div>
{% endblock %}
