{% extends "views/_base.html" %}
{% from "components/nav/nav.html" import nav %}
{% from "components/header/header.html" import header %}

{% block content %}
<main role="main">
	{{ header('📚 Pages') }}
	{{ nav() }}

	<section class="lists">
		<ul class="pages flat-list">
		{% for page in pages %}
		{% if not page.parent %}
		<li>
			{% if page.is_sticky %}⦿{% endif %} <a class="page__full-link" href="/pages/{{ page.id }}">{% if page.content %}{{ page.title | titleize | linkize | safe }}{% else %}(Untitled){% endif %}</a>
			{% if page.pages | length %}
			<ul class="flat-list">
			{% for child in page.pages %}
			<li><a class="page__full-link" href="/pages/{{ child.id }}">{% if child.content %}{{ child.title | titleize | linkize | safe }}{% else %}(Untitled){% endif %}</a></li>
			{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endif %}
		{% endfor %}
		</ul>
	</section>
</main>
{% endblock %}
