{% extends "views/_base.html" %}
{% from "components/header/header.html" import header %}
{% from "components/review-action-bar/review-action-bar.html" import reviewActionBar %}

{% block content %}
{{ header('Review', variant = 'review') }}
{# @todo header should be inside main, but this will break prettiness on review page #}
<main role="main" class="main--is-review">
	<form method="post" action="/review">
		<ul class="flat-list review-list">
		{% for task in tasks %}
			{% set nextTaskId = tasks[loop.index0 + 1].id or 'submit' %}
			<li id="task:{{ task.id }}">
				<div class="review-list__item">
					<h2 class="review-list__body">{{ task.title }}</h2>
					{{ reviewActionBar(task.id, nextTaskId, ['done', 'delete', 'today', 'skip']) }}
				</div>
			</li>
		{% endfor %}
			<li id="task:submit">
				<div class="review-list__item">
					<div class="review-list__body">
						<button class="button" type="submit">Submit review</button>
					</div>
				</div>
			</li>
		</ul>
	</form>
</main>
{% endblock %}
