{% extends "views/_base.html" %}
{% from "components/header/header.html" import header %}

{% block content %}
	<main role="main">
		{{ header(sticky=true) }}
	</main>
	<form method="post" action="/review">
	<input type="hidden" name="_method" value="PATCH">
	<ul class="tasklist tasklist--review flat-list" data-review>
	{% for task in tasks %}
	<li data-task="{{ task.id }}" id="{{ task.id }}">
		<small>
		<ul class="flat-list inline-list">
			<li>
				<input type="checkbox" name="{{ task.id }}__is_done" id="{{ task.id }}__is_done">
				<label for="{{ task.id }}__is_done">Done ✓</label>
			</li>
			<li>
				<input type="checkbox" name="{{ task.id }}__is_deleted" id="{{ task.id }}__is_deleted">
				<label for="{{ task.id }}__is_deleted">Delete ✕</label>
			</li>
			<li>
				<input type="checkbox" name="{{ task.id }}__is_starred" id="{{ task.id }}__is_starred" {% if task.is_starred %}checked disabled{% endif %}>
				<label for="{{ task.id }}__is_starred">Star ★</label>
			</li>
			<li>
				<input type="checkbox" name="{{ task.id }}__bump" id="{{ task.id }}__bump">
				<label for="{{ task.id }}__bump">Bump (<span class="tnum">{{ task.bumps or 0}}</span>) ⇧</label>
			</li>
			<li>
				<a href="/tasks/{{ task.id }}">Edit &rarr;</a>
			</li>
			<li>
				<a href="#" data-skip>Skip &darr;</a>{# hyperlink should preferably directly click to next task, which should be a property on current task #}
			</li>
		</ul>
		</small>
		<br/>
		<div class="task__content">
			{% if task.title === task.content %}
			{% if task.title %}{{ task.title }}{% else %}(Untitled){% endif %}
			{% else %}
			{% if task.content %}{{ task.content | markdown | safe }}{% else %}(Untitled){% endif %}
			{% endif %}
		</div>
	</li>
	{% endfor %}
	</ul>
	<div class="fullscreen">
		<button id="submit" type="submit" class="button">Submit review</button>
	</div>
	</form>
{% endblock %}
