{% extends "views/_base.html" %}
{% from "components/header/header.html" import header %}
{% from "components/nav/nav.html" import nav %}

{% block content %}
<main role="main">
	{{ header('🔎 Search') }}
	{{ nav() }}

	<section class="lists">

	<form method="get" action="/search">
		<input type="text" class="input__big" name="q" placeholder="Type a search query." {% if query %}value="{{ query }}"{% endif %} autofocus>
		<button class="button">Search</button>
	</form>

	{% if tasks %}
	<h1>Results for ‘{{ query }}’</h1>

	<form method="post" action="/tasks" id="tasks" data-task-form>
	<input type="hidden" name="_method" value="PATCH">
	<ul class="tasks flat-list">
		{% for task in tasks %}
		<li data-task="{{ task.id }}" class="task {% if not task.is_actionable %}task--is-incomplete {% endif %}{% if task.is_done %}task--is-done {% endif %}{% if task.is_starred %}task--is-starred {% endif %}">
			<input type="checkbox" id="{{ task.id }}__task" name="{{ task.id }}__task">
			<label for="{{ task.id }}__task"><span>{% if task.content %}{{ task.title }}{% else %}(Untitled){% endif %}.</span> <a class="task__detail-link" href="/tasks/{{ task.id }}">&rarr;</a></label>
		</li>
		{% endfor %}
	</ul>
	</form>
	{% endif %}
	</section>
</main>
{% endblock %}
