{% extends "views/_base.html" %}
{% from "components/action/action.html" import action %}
{% from "components/create-task/create-task.html" import createTask %}
{% from "components/header/header.html" import header %}
{% from "components/task/task.html" import task %}

{% block content %}
<main class="main--has-action-bar" role="main">
	{% if query is undefined %}
		{{ header('Tasks') }}
	{% else %}
		{{ header(query or 'Everything', section = { name: 'Tasks', url: '/tasks' }) }}
	{% endif %}
	<section>
		<form method="post" action="/tasks?redirect=/tasks" id="tasks" data-task-form>
			<input type="hidden" name="_method" value="PATCH">
			<ul class="tasks flat-list">
			{% for taskItem in tasks %}
				{{ task(taskItem) }}
			{% endfor %}
			</ul>
		</form>
	</section>
</main>
{% if evening %}
	{{ action(secondary = { value: 'tomorrow', label: 'Do tomorrow.' }) }}
{% else %}
	{{ action() }}
{% endif %}
{% endblock %}

{% block modals %}
{{ createTask() }}
{% endblock %}
