{% extends "views/_base.html" %}
{% from "components/nav/nav.html" import nav %}

{% block content %}
<main role="main">
{{ nav() }}
<article>
	<div class="task__content">
		<h1>{% if task.title %}{{ task.title }}{% else %}(Untitled){% endif %}</h1>
	</div>
	<form method="post" action="/tasks/{{ task.id }}">
		<input type="hidden" name="_method" value="PUT">
		<textarea name="content">{{ task.content }}</textarea>
		<div>
			<input type="checkbox" name="is_actionable" id="{{ task.id }}_actionable" {% if task.is_actionable %}checked{% endif %}>
			<label for="{{ task.id }}_actionable">Actionable</label>
		</div>
		<div>
			<input type="checkbox" name="is_quick" id="{{ task.id }}_quick" {% if task.is_quick %}checked{% endif %}>
			<label for="{{ task.id }}_quick">Is quick</label>
		</div>
		<br>
		<h2>Schedule:</h2>
		<ul class="flat-list inline-list">
			<li>
				<input type="radio" name="scheduled_date" id="{{ task.id }}_scheduled_date_today" value="today" name="scheduled_date" {% if task.scheduled_hr === 'today' %}checked{% endif %}>
				<label for="{{ task.id }}_scheduled_date_today">Today</label>
			</li>
			<li>
				<input type="radio" name="scheduled_date" id="{{ task.id }}_scheduled_date_tomorrow" value="tomorrow" name="scheduled_date" {% if task.scheduled_hr === 'tomorrow' %}checked{% endif %}>
				<label for="{{ task.id }}_scheduled_date_tomorrow">Tomorrow</label>
				</li>
			<li>
				<input type="radio" name="scheduled_date" id="{{ task.id }}_scheduled_date_next_week" value="next_week" name="scheduled_date" {% if task.scheduled_hr === 'next week' %}checked{% endif %}>
				<label for="{{ task.id }}_scheduled_date_next_week">Next week</label>
			</li>
		</ul>
		<br>
		<button type="submit" class="button">Save changes</button>
	</form>
	<div class="buttons">
	{% if task.is_done %}
	<form method="post" action="/tasks/{{ task.id }}">
		<input type="hidden" name="_method" value="PUT">
		<input type="hidden" name="is_done" value="false">
		<button type="submit" class="button button--secondary">Set not done</button>
	</form>
	{% else %}
	<form method="post" action="/tasks/{{ task.id }}">
		<input type="hidden" name="_method" value="PUT">
		<input type="hidden" name="is_done" value="true">
		<button type="submit" class="button">Set done</button>
	</form>
	{% endif %}
	{% if task.is_starred %}
	<form method="post" action="/tasks/{{ task.id }}">
		<input type="hidden" name="_method" value="PUT">
		<input type="hidden" name="is_starred" value="false">
		<button type="submit" class="button button--secondary">Set not starred</button>
	</form>
	{% else %}
	<form method="post" action="/tasks/{{ task.id }}">
		<input type="hidden" name="_method" value="PUT">
		<input type="hidden" name="is_starred" value="true">
		<button type="submit" class="button">Set starred</button>
	</form>
	{% endif %}
	<form method="post" action="/tasks/{{ task.id }}">
		<input type="hidden" name="_method" value="PUT">
		<input type="hidden" name="reset_bumps" value="true">
		<button type="submit" class="button button--secondary">Reset bumps ({{ task.bumps or 0 }})</button>
	</form>
	<form method="post" action="/tasks/{{ task.id }}">
		<input type="hidden" name="_method" value="DELETE">
		<button type="submit" class="button button--danger">Delete</button>
	</form>
	</div>
	<div>
		<form method="post" action="/tasks/{{ task.id }}">
			<input type="hidden" name="_method" value="PUT">
			Add to task list of page
			<select class="select" name="page" onchange="this.form.submit()">
				<option>Pick one &darr;</option>
				{% for page in pages %}
				<option value="{{ page.id }}">{{ page.title }}</option>
				{% endfor %}
			</select>
		</form>
	</div>
</article>
</main>
{% endblock %}
