{% extends "views/_base.html" %}
{% from "components/action/action.html" import action %}
{% from "components/create-task/create-task.html" import createTask %}
{% from "components/header/header.html" import header %}
{% from "components/task/task.html" import task %}

{% block content %}
{{ header('All tasks') }}
<main class="main--has-action-bar" role="main">
	<section>
		<form method="post" action="/tasks?redirect=/tasks" id="tasks" data-task-form>
			<input type="hidden" name="_method" value="PATCH">
			<ul class="tasks flat-list">
			{% for taskItem in tasks %}
				{{ task(taskItem) }}
			{% endfor %}
			</ul>
		</form>
	</section>
</main>
{{ action() }}
{% endblock %}

{% block modals %}
{{ createTask() }}
{% endblock %}
