{% extends "views/_base.html" %}
{% from "components/nav/nav.html" import nav %}

{% block content %}
<main role="main">
{{ nav() }}
<article>
	<p>
		<br/>
		<form method="post" action="/tasks/{{ task.id }}">
			<input type="hidden" name="_method" value="PUT">
			<input type="hidden" name="is_done" value="true">
			<button type="submit" class="button">Done!</button>
			<a href="/tasks/{{ task.id }}/edit" class="button button--secondary">Edit.</a> or <a href="javascript:history.go(-1)">Go back</a>
		</form>

	</p>
	<div class="task__content">
		{% if task.is_done %}<del>{% endif %}
		{% if task.title === task.content %}
		{% if task.title %}{{ task.title }}{% else %}(Untitled){% endif %}
		{% else %}
		{% if task.content %}{{ task.content | markdown | safe }}{% else %}(Untitled){% endif %}
		{% endif %}
		{% if task.is_done %}</del>{% endif %}
		{% if task.page %}
		<br><br>
		<h2>On page</h1>
		<p>
			<a href="/pages/{{ task.page.id }}">{{ task.page.title }}</a>
		</p>
		{% endif %}
	</div>
</article>
</main>
{% endblock %}
