{% extends "views/_base.html" %}
{% from "components/title/title.html" import title %}

{% block content %}
<main role="main">
	<header role="banner" class="header">
		{{ title('Task') }}
	</header>
	<section>
		{{ task.content }}
	</section>
</main>

<div class="action">
	<form method="post" onchange="this.submit()" action="/tasks/{{ task.id }}">
		<input type="hidden" name="_method" value="patch">
		<ul class="flat-list">
			<li>
				<input type="radio" name="scheduled_date" id="{{ task.id }}_scheduled_date_today" value="today" name="scheduled_date" {% if task.scheduled_hr === 'today' %}checked{% endif %}>
				<label for="{{ task.id }}_scheduled_date_today">Today</label>
			</li>
			<li>
				<input type="radio" name="scheduled_date" id="{{ task.id }}_scheduled_date_tomorrow" value="tomorrow" name="scheduled_date" {% if task.scheduled_hr === 'tomorrow' %}checked{% endif %}>
				<label for="{{ task.id }}_scheduled_date_tomorrow">Tomorrow</label>
			</li>
		</ul>
	</form>
	<form method="post" onchange="this.submit()" action="/tasks/{{ task.id }}">
		<input type="hidden" name="_method" value="patch">
		<input type="hidden" name="is_done" value="true">
		<button class="button" type="submit">Set done</button>
	</form>
</div>
{% endblock %}
