{% extends "views/_base.html" %}
{% from "components/action/action.html" import action %}
{% from "components/task/task.html" import task %}
{% from "components/title/title.html" import title %}

{% block content %}
<main role="main">
	<header role="banner" class="header">
		{{ title('Today') }}
	</header>
	<section
		class="task-list">
		<form method="post" action="/tasks?redirect=/today" id="tasks" data-task-form>
			<input type="hidden" name="_method" value="PATCH">
			<ul class="tasks flat-list">
			{% for taskItem in tasks %}
				{{ task(taskItem) }}
			{% endfor %}
			</ul>
		</form>
	</section>
</main>

{{ action(secondary = { value: 'not_today', label: 'Not today.' }) }}
{% endblock %}
