{% extends "views/_base.html" %}
{% from "components/task-list-actions/task-list-actions.html" import taskListActions %}
{% from "components/header/header.html" import header %}
{% from "components/new-item-modal/new-item-modal.html" import newItemModal %}
{% from "components/task/task.html" import task %}

{% block content %}
<main class="main--has-action-bar" role="main">
	{{ header('Today') }}
	<section
		class="task-list">
		<form method="post" action="/tasks?redirect=/today" id="tasks" data-task-form>
			<input type="hidden" name="_method" value="PATCH">
			<ul class="tasks flat-list">
			{% for taskItem in tasks %}
				{{ task(taskItem) }}
			{% endfor %}
			</ul>
		</form>
	</section>
</main>
{% if evening %}
	{{ taskListActions(secondary = { value: 'tomorrow', label: 'Do tomorrow.' }) }}
{% else %}
	{{ taskListActions(secondary = { value: 'clear_date', label: 'Not today.' }) }}
{% endif %}
{% endblock %}

{% block modal %}
{{ newItemModal('task') }}
{% endblock %}
