{% extends "views/_base.html" %}
{% from "components/action/action.html" import action %}
{% from "components/header/header.html" import header %}
{% from "components/new-item-modal/new-item-modal.html" import newItemModal %}
{% from "components/task/task.html" import task %}

{% block content %}
<main class="main--has-action-bar" role="main">
	{{ header('Tomorrow') }}
	<section
		class="task-list">
		<form method="post" action="/tasks?redirect=/tomorrow" id="tasks" data-task-form>
			<input type="hidden" name="_method" value="PATCH">
			<ul class="tasks flat-list">
			{% for taskItem in tasks %}
				{{ task(taskItem) }}
			{% endfor %}
			</ul>
		</form>
	</section>
</main>
{{ action(secondary = { value: 'clear_date', label: 'Not tomorrow.' }) }}
{% endblock %}

{% block modal %}
{{ newItemModal('task') }}
{% endblock %}
