.header {
	position: fixed;
	background: @white;
	padding: @margin-default;
	width: 100%;
}

.header--review {
	box-shadow: 0 0 5em 3em white;
	z-index: @z-index-high; // make review item transitions go under header
}
