.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: calc(env(safe-area-inset-top) + (3/4 * @margin-default)) @margin-default;
	height: calc(env(safe-area-inset-top) + @header-height);
	background: @blue;
	z-index: @z-index-high; // make review item transitions & absolute checkboxes go under header

	@media @m {
		background: @white;
		left: @sidebar-width;
		padding: @margin-default @margin-default * 2;
	}
}

.header--review {
	box-shadow: 0 0 5em 3em white;
}
