.header {
	padding: @margin-default 0;
}

.header--sticky {
	position: fixed;
	background: @white;
	z-index: @z-index-high;
	outline: 1rem solid @white;
}

.header__nav {
	font-size: 1.25em;
}

.header__link {
	color: @black;
	font-weight: 500;
}

.header__link--is-active {
	background-color: @yellow-bright;
	text-decoration: none;
}
