{% macro header(title = '💪 Todown', isPage = false, pageId = null) %}
<header role="banner" class="header">
	<h1>{% if title %}{{ title }}{% endif %}</h1>

	<div>
		{% if isPage %}
		<span class="taskbuttons">
			<form method="post" action="/pages/{{ pageId }}">
				<input type="hidden" name="_method" value="DELETE">
				<a href="/pages/{{ pageId }}/edit" class="button button--secondary">Edit.</a> <button type="submit" class="button button--danger" onclick="return confirm('Seriously.')">Delete!</button>
			</form>
		</span>
		{% endif %}
		<span class="taskbuttons" hidden>
			<button type="submit" class="button" name="_action" value="done" form="tasks">Mark as done.</button>
			<button type="submit" class="button button--secondary" name="_action" value="star" form="tasks">Have a star.</button>
		</span>
		<a href="/pages/create">Create page&hellip;</a>
		<a href="#" data-show-add>Add task&hellip;</a>
		<form method="GET" action="/tasks" name="form_filters">
			<input class="header__checkbox" onchange="document.form_filters.submit()" type="checkbox" id="show_all" name="show_all" {% if QS.show_all %}checked{% endif %}>
			<label class="header__label" for="show_all">Show all.</label>
		</form>
		<form method="get" action="/search">
			<input class="header__search" type="text" name="q" placeholder="Search...">
		</form>
	</div>
</header>
{% endmacro %}
