.sidemenu {
	position: fixed;
	height: 100vh;
	width: 100vw;
	left: 0;
	top: 0;
	transition: all 150ms cubic-bezier(0, 0.5, 0, 1);
	background: linear-gradient(@blue, @red);
	z-index: @z-index-highest; // side menu trumps all

	a {
		color: @white;
	}
}

.sidemenu.closed {
	transform: translateX(-100vw);
}
