{% macro createTask() %}
<section class="modal closed" data-modal hidden>
	<div class="modal__body">
		<form
			class="modal__form"
			action="/tasks"
			method="post"
			id="create-task">
			<textarea
				class="textarea textarea--in-modal"
				name="content"
				placeholder="Type a thing."></textarea>
		</form>
		<div class="modal__actions">
			<button
				type="submit"
				class="button"
				form="create-task">Create task.</button>
			&nbsp;or
			<a
				href="/tasks"
				data-close-modal>Cancel</a>
		</div>
	</div>
</section>
{% endmacro %}
