@import (once) "components/action/action";
@import (once) "components/button/button";
@import (once) "components/header/header";
@import (once) "components/helpers/helpers";
@import (once) "components/layout/layout";
@import (once) "components/modal/modal";
@import (once) "components/overlay/overlay";
@import (once) "components/page-content/page-content";
@import (once) "components/review-action-control/review-action-control";
@import (once) "components/review-list/review-list";
@import (once) "components/sidemenu/sidemenu";
@import (once) "components/sections/sections";
@import (once) "components/task/task";
@import (once) "components/text-input/text-input";
@import (once) "components/textarea/textarea";
@import (once) "components/title/title";
@import (once) "components/typography/typography";

@black: #231f20;
@black-light: #433f40;
@white: #fff;
@white-almost: #f7f7f0;
@yellow: #fbb829; // colourlovers heart of gold
@yellow-bright: #fe3;
@yellow-faded: #ffb;
@green: #a1c820;
@teal: #1693A5;
@red: #fe4365; // colourlovers sugar hearts you
@blue: #4a49eb;
@grey: #999;
@grey-light: #ccb;
@accent: @blue;

@margin-default: 1rem;
@margin-half: @margin-default / 2;

@box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.25);
@border-radius: 0.25rem;
@header-height: 3.125rem;

@z-index-high: 1;
@z-index-highest: 2;

@s-only: ~'only screen and (max-width: 767px)';
@m: ~'only screen and (min-width: 768px)';
@l: ~'only screen and (min-width: 1281px)';

* {
	box-sizing: border-box;
}

body,
select,
textarea,
input,
button {
	font-family: "IBM Plex Sans","Rubik",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans",sans-serif;
	line-height: 1.25;
	-webkit-text-size-adjust: 100%;
	-webkit-appearance: none;
	font-feature-settings: "kern", "liga";//, "ss01", "ss02"; //01 = open a, 02 = open g
}

body {
	margin: 0;
	font-size: 125%;

	@media @l {
		font-size: 150%;
	}
}
